<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>26.1.1f1</Version>
<Cluster>
<Name>Settings in</Name>
<NumElts>3</NumElts>
<Cluster>
<Name>Hardware Configuration</Name>
<NumElts>4</NumElts>
<I32>
<Name>Selected Sensor ID</Name>
<Val>0</Val>
</I32>
<DBL>
<Name>Target Sample Rate (Hz)</Name>
<Val>0.00000000000000</Val>
</DBL>
<I32>
<Name>Steady-State Duration (s)</Name>
<Val>0</Val>
</I32>
<DBL>
<Name>Allowed Tolerance (%)</Name>
<Val>0.00000000000000</Val>
</DBL>
</Cluster>
<Cluster>
<Name>Logging Configuration</Name>
<NumElts>2</NumElts>
<Path>
<Name>Log File Base Path</Name>
<Val>C:\Users\ptros\OneDrive\Documents\LabVIEW Data\Logged Data.tdms</Val>
</Path>
<Refnum>
<Name>TDMS File Reference</Name>
<RefKind>TDMS File</RefKind>
<Val>0x00000000</Val>
</Refnum>
</Cluster>
<Boolean>
<Name>Simulation Mode</Name>
<Val>0</Val>
</Boolean>
</Cluster>
</LVData>